<nav>
  <ul>
    <li routerLink="/">Home</li>
    <li routerLink="/about">About</li>
  </ul>
</nav>

<!-- Expression can be represented with {{ }} We can attach functions and do operations inside expressions.
    e.g. {{ string.toUpperCase() }} or {{ 10 + 20 }}
-->

<!-- Value of the Attributes will be treated as expressions only when enclosed in [] -->
<!-- Events in angular must be wrapped inside () i.e. (click), (keyup) -->

<img [src]="imgUrl" />
<h1>Hello Angular {{ version }}</h1>
<input type="text" (keyup)="changeValue($event)" />

<router-outlet></router-outlet>
