<nav>
  <ul>
    <li>
      <a routerLink="/"> Home </a>
    </li>
    <li>
      <a routerLink="/about"> About </a>
    </li>
  </ul>
</nav>

<!-- Expression can be represented with {{ }} We can attach functions and do operations inside expressions.
    e.g. {{ string.toUpperCase() }} or {{ 10 + 20 }}
-->

<!-- Value of the Attributes will be treated as expressions only when enclosed in [] -->
<!-- Events in angular must be wrapped inside () i.e. (click), (keyup) -->

<img [src]="imgUrl" />
<h1>Hello Angular {{ version }}</h1>
<input type="text" (keyup)="changeValue($event)" />

<h2>Forms in Angular</h2>
<test-form></test-form>

<router-outlet></router-outlet>
